// ======= Roboto =======
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// ======= Variable =======
$White: #fff;
$Light-Gray: #b0b0b0;
$Cyan: #1a9e9a;
$Dark-Gray: #1a1a1a;
$Black: #000;

$Light: 300;
$Regular: 400;
$Medium: 500;
$Bold: 700;

$Nav-Width: 100px;
// ======= Default Style =======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 14px;
    color: $White;
    font-weight: $Medium;
}

input,
button {
    font-family: inherit;
    font-size: 14px;
}

button {
    cursor: pointer;
}

img {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: end;
    color: #fff;
}

.btn {
    height: 2.5rem;
    padding: 0 1.5rem;
    background-color: $Cyan;
    border: none;
    border-radius: 8px;
    color: $White;
}

// ======= Navbar =======
nav {
    background-color: $Dark-Gray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $Nav-Width;
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                padding: 0.5rem;
                width: 42px;
                height: 42px;
                background-color: $Cyan;
                border-radius: 1.5rem;
            }

            &.nav-logo {
                gap: 0.5rem;
                margin-bottom: 2rem;
            }

            &.nav-icons {
                gap: 1.5rem;
            }
        }
    }

    .nav-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 1.5rem;
}

main {
    padding: 1.5rem 2rem;
    width: calc(100% - $Nav-Width);
    background-color: $Black;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side,
        .right-side {
            display: flex;
            align-items: center;
        }

        .left-side {
            gap: 1.5rem;

            .search {
                position: relative;
                height: 2.5rem;
                width: 20rem;

                .search-box {
                    width: 100%;
                    height: 100%;
                    background-color: $Dark-Gray;
                    border: 1px solid $Light-Gray;
                    padding-left: 3rem;
                    border-radius: 0.5rem;
                    font-size: 14px;
                    color: $White;
                    font-weight: $Regular;

                    &::placeholder {
                        color: $Light-Gray;
                        font-weight: $Light;
                    }
                }

                .search-icon {
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .right-side {
            gap: 4rem;

            .icons {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    .content {
        display: flex;
        gap: 2rem;

        .left-side {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            // ------- Banner -------
            .banner {
                width: 100%;
                background: url(../src/images/Jahan-e-Laghar.png) no-repeat
                    center/cover;
                border-radius: 1rem;
                padding: 3rem;

                p:not(.listening, .like-counter p) {
                    text-shadow: 2px 2px 16px $Black;
                }

                .reward {
                    font-weight: 500;
                    letter-spacing: 1px;
                }

                .song {
                    font-size: 2.5rem;
                    font-weight: 500;
                }

                .artist-name {
                    color: $Cyan;
                    font-size: 1.75rem;
                }

                .more {
                    display: flex;
                    align-items: center;
                    margin: 1rem 0;

                    .friends {
                        display: flex;
                        align-items: center;

                        img {
                            width: 28px;
                            aspect-ratio: 1;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                            border: 1px solid $White;

                            &:first-child {
                                z-index: 3;
                            }

                            &:nth-child(2) {
                                transform: translateX(-0.5rem);
                                z-index: 2;
                            }

                            &:last-child {
                                transform: translateX(-1rem);
                            }
                        }
                    }

                    .listening {
                        font-size: 14px;
                        font-weight: 500;
                        color: $Cyan;
                    }

                    .like-counter {
                        display: flex;
                        align-items: center;
                        margin-left: 1rem;

                        p {
                            font-size: 14px;
                            font-weight: 500;
                            color: $Cyan;
                        }
                    }
                }

                .btns {
                    margin-top: 1.5rem;

                    .btn {
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .follow {
                        height: 2.5rem;
                        padding: 0 1.5rem;
                        background-color: transparent;
                        border: 2px solid $Cyan;
                        border-radius: 8px;
                        color: $Cyan;
                        font-weight: 500;
                        opacity: 0.8;
                        transition: background-color 0.2s ease, color 0.2s ease;

                        &:hover {
                            background-color: $Cyan;
                            color: $White;
                            font-weight: 400;
                        }
                    }
                }
            }

            // ------- Album Of The Week -------
            .week-album {
                margin-top: 1rem;

                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .prev-next {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        .prev,
                        .next {
                            width: 2rem;
                            aspect-ratio: 1;
                            background-color: $Dark-Gray;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            opacity: 0.7;
                            cursor: pointer;

                            &:hover {
                                opacity: 1;
                            }

                            img {
                                scale: 0.8;
                            }
                        }
                    }
                }

                [albumSwiper] {
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .swiper-slide {
                        width: 100px;

                        img {
                            width: 150px;
                            aspect-ratio: 1;
                            border-radius: 0.5rem;
                        }

                        .details {
                            padding: 0.25rem 0;

                            .owner {
                                font-size: 15px;
                                white-space: nowrap;
                                font-weight: 500;
                            }

                            .album-name {
                                font-weight: 400;
                                font-size: 13px;
                                color: $Light-Gray;
                            }
                        }
                    }

                    .next-button {
                        position: absolute;
                        top: 2rem;
                        right: 0;
                        background-color: rgba($Dark-Gray, 0.3);
                        height: 150px;
                        width: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0.5rem;
                        z-index: 2;
                    }
                }
            }

            .popular-tracks {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .row {
                    display: flex;

                    & > div {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        p {
                            color: $Light-Gray;
                            font-weight: 300;
                        }

                        &.information {
                            width: 30%;

                            img {
                                width: 48px;
                                aspect-ratio: 1;
                                border-radius: 8px;
                            }
                        }

                        &.owner {
                            width: 20%;
                        }

                        &.duration {
                            width: 15%;
                        }

                        &.listened {
                            width: 15%;
                        }

                        &.liked {
                            width: 15%;
                        }

                        &.play {
                            width: 5%;

                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 2px solid $White;
                                padding: 0.5rem;
                                border-radius: 1.5rem;
                                cursor: pointer;
                                scale: 0.75;
                            }
                        }

                        img {
                            width: 24px;
                            aspect-ratio: 1;
                            transform: translateX(2px);
                            cursor: default;
                        }
                    }
                }
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 30%;

            .trending-artists {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        color: $Light-Gray;
                    }
                }

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    .profile {
                        display: flex;
                        gap: 1.25rem;

                        img {
                            width: 48px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                        }

                        .information {
                            display: flex;
                            flex-direction: column;

                            p:first-child {
                                font-weight: 500;
                            }

                            p:last-child {
                                color: $Light-Gray;
                                font-size: 14px;
                                font-weight: 300;
                            }
                        }
                    }

                    .rank {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .state {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            p {
                                font-size: 14px;
                                font-weight: 300;
                                color: $Light-Gray;
                            }
                        }

                        .position {
                            font-size: 24px;
                            font-weight: 300;
                            color: $Light-Gray;
                        }
                    }
                }
            }

            .genres {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    .tag {
                        color: $Light-Gray;
                        border: 1px solid $Light-Gray;
                        border-radius: 1rem;
                        padding: 0.5rem 1.25rem;
                        cursor: pointer;

                        &:hover {
                            background-color: $Cyan;
                            border-color: $Cyan;
                            color: $White;
                        }
                    }
                }
            }

            .now-playing {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .card {
                    padding: 2rem 4rem;
                    width: 100%;
                    aspect-ratio: 1;
                    background: linear-gradient(
                        45deg,
                        rgba($Cyan, 0.2),
                        rgba($Dark-Gray, 0.2)
                    );
                    border-radius: 16px;
                    backdrop-filter: blur(6.6px);
                    -webkit-backdrop-filter: blur(6.6px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;

                    img {
                        width: 60%;
                        height: 60%;
                        border-radius: 1rem;
                    }

                    .playing-song {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .song-information {
                            .singer-name {
                                line-height: 1.5rem;
                                font-weight: 300;
                                color: $Light-Gray;
                                font-size: 13px;
                            }
                        }

                        .icons {
                            display: flex;
                            align-items: end;
                            gap: 1rem;
                        }
                    }

                    .time {
                        position: relative;
                        width: 100%;
                        margin-bottom: 2rem;

                        p {
                            position: absolute;
                            bottom: -1.5rem;
                            font-size: 14px;

                            &.current-time {
                                left: 0;
                            }

                            &.full-time {
                                right: 0;
                            }
                        }

                        input[type="range"] {
                            width: 100%;
                            height: 3px;
                            cursor: pointer;
                        }
                    }

                    .music-control {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        i {
                            font-size: 18px;
                            cursor: pointer;

                            &[musicStatus] {
                                width: 54px;
                                height: 54px;
                                font-size: 1.5rem;
                                border: 4px solid $Cyan;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
